@font-face {
    font-family: 'Poppins-Regular';
    src: local('Poppins-Regular'), url(../fonts/Poppins-Regular.ttf);
}
*{
    color: #54575C;
}
section{
    margin-top: 64px;
    position: relative;
    margin-bottom: 3rem;
}
.container-padre{
  display: inline-flex;
  justify-content: center;
}
.bloque{
  justify-content: center;
}
.card{
    box-shadow: 0px 100px 58px rgba(31, 41, 35, 0.00458735), 0px 41.346px 54.0995px rgba(31, 41, 35, 0.0109364), 0px 19.4023px 49.8576px rgba(31, 41, 35, 0.0211526), 0px 7.32773px 44.5609px rgba(31, 41, 35, 0.0458371), 0px 1.03284px 36.9139px rgba(31, 41, 35, 0.0757482), 0px -1.12437px 24.2747px rgba(31, 41, 35, 0.09);
    border-radius: 4px;
    width: 80%;
}
.container-title{
    background-color: #0B7AC7;
    width: 411px;
    height: 321px;
    padding: 1.5rem;
    position: relative;
}

.container-title h1{
    color: #ffffff;
    font-size: 36px;
}
.container-title p{
    color: #ffffff;
    margin-top: 1rem;
    font-family: "Poppins-Regular";
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 16.8px;
}
.container-title img{
    position: absolute;
    right: 15%;
    top: 34%;
    width: 15%;
}

.desktop .container-title{
  background-color: #ffffff;
}
.desktop .container-title h1{
  color: #333333;
  font-size: 36px;
}
.desktop .container-title h1.blue{
  color: #0B7AC7;
}
.desktop .container-title p{
  color: #333333;
}
.bloque.desktop img{
  position: relative;
    left: -61%;
    top: 8%;
    width: 118%;
}
.txtDesktop{
  margin:auto;
}
.input-wrapper {
    position: relative;
    margin: 20px auto;
}
.form{
  margin-top: 3rem;
}
.form-control {
    display: block;
    line-height: 2em;
    margin: 0;
    padding-left: 10px;
    width: 100%;
    font-size: medium;
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 500;
}.form-control:focus {
     border: 1px solid #2c7ac9;
 }.control-label {
      display: block;
      position: absolute;
      opacity: 0;
      bottom: 1.9rem;
      color: #54575C;
      transition: 0.2s ease-in-out transform;
      font-size: 10px;
  }.form-control:placeholder-shown + .control-label {
       visibility: hidden;
       z-index: -1;
       transition: 0.2s ease-in-out;
   }.form-control:not(:placeholder-shown) + .control-label,
    .form-control:focus:not(:placeholder-shown) + .control-label {
        visibility: visible;
        z-index: 1;
        opacity: 1;
        transform: translate(5px, -7px);
        transition: 0.2s ease-in-out transform;
    }

    .form-group{
        margin: 12px;
    }

    .form-group input, .form-group select{
        border: #999999 1px solid;
        border-radius:4px;
        width: 100%;
    }

    .form-group small{
        margin:0;
        font-size: 12px;
    }
    .select label{
        width: 100%;
        font-size: 14px;
    }
    .btn{
        background: #0B7AC7;
        border-radius: 50px;
        color: #ffffff;
        width: 75%;
    }
    .btn:hover{
        color: #ffffff;
    }
    .terminosYcondiciones{
        font-size: 10px;
        color: #5B5B5B;
        line-height: 16px;
    }
    .form-check{
        margin:1rem;
    }
    .container{
        background-color: #0B7AC7;
    }
    .container h1{
        color: #ffffff;
    }
    .mobile{
      display: none !important;
    }
    .desktop{
      display: inherit !important;
    }

@media (max-width: 62em) {
  .mobile{
    display: flex !important;
    padding: 0;
  }
  .desktop{
    display: none !important;
  }
  .container-padre{
    display: block;
  }
  .bloque{
    display: flex;
  }
  .form{
    margin-top: -3rem;
  }
  .card{
    width: 100%;
  }
    section .row{
        margin:0 !important;
    }
    .container-title h1{
        font-size: 2rem;
    }
}
