.footer *{
    font-size: 10px;
    color: #ffffff;
}
.disclaimer {
    font-size: 10px;
}

.footer p {
    padding: 1.5rem;
}

.footer {
    background: #0C4C72;
    position: relative;
    bottom: 0;
}