@font-face {
    font-family: 'Poppins-Regular';
    src: local('Poppins-Regular'), url(../fonts/Poppins-Regular.ttf);
}
.resultado *{
    font-weight: 400;
}
.resultado .container-title{
    background-color: #ffffff;
    height: 100%;
}
.resultado .desktop .container-title{
    padding: 1.5rem 0;
}
.resultado .container-title h1{
    color: #333333;
    font-weight: 700;
}
.resultado .container-title p{
    color: #333333;
    font-family: "Poppins-Regular";
    font-size: 16px;
    font-weight: 300;
}
.resultado .desktop .container-title p{
    font-size: 14px;
}
.resultado .sueldo{
    position: relative;
}
.resultado .sueldo h1, .resultado .sueldo p{
    display: inline;
}
.resultado .listado{
    position: relative;
    margin-top: 1rem
}
.resultado .beneficio{
    margin-top:0.7rem;
}
.resultado .dudas{
    margin-top:2rem;
}
.resultado .dudas p{
    width: 84%;
    font-family: "Poppins-Regular";
    font-size: 14px;
    font-weight: 300;
}
.resultado .listado .icon {
    position: relative;
    left: 0%;
    top: -6%;
    width: 10%;
    margin-right: 0.7rem;
}
.resultado .btn{
    width: 100%;
    font-size: 16px;
    margin-top: 3rem;
}
.resultado .btn.purple{
    background-color: #82388B;
    width: 50%;
    font-size: 16px;
    margin-top: 2rem;
}
.resultado .desktop .purple{
    width: fit-content;
    padding: 0.5rem 2rem;
}
.resultado .mujer{
    width: 23%;
    right: 17%;
    top: 18%;
}
.resultado .dudas{
    margin-top: 6rem;

}
.resultado .desktop .ofrecemos{
    margin: 10rem 4rem;
}
.resultado .desktop .ofrecemos .card-header{
    justify-content: center;
    border:none;
}
.resultado .desktop .ofrecemos .card-header .icon{
    width: 15%;
    height: auto;
}
.resultado .desktop .ofrecemos .card-body p{
    width: 100%;
    text-align: center;
}

.resultado .ofrecemos p{
    margin: 0;
    width: 70%;
    font-size: 14px;
}

.resultado .ofrecemos .icon{
    border-radius: 50px;
    width: 8%;
    height: 9%;
}
.resultado .ofrecemos .beneficio{
    display: inline-flex;
}
.resultado .beneficio .rentabilidad{
background-color: #4297DE;
}
.resultado .beneficio .comisiones{
 background-color: #F7931E;
}
.resultado .beneficio .sac{
background-color: #72B500;
}
.resultado .bloque.desktop img{
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
  }
  .resultado .desktop .dudas img{
    margin-left: 45%;
    width: 75%;
  }

  .resultado .container-title h1.green{
    color: #72b500;
    font-weight: 600;
  }
  .resultado .container-title h1 span{
    color: #72b500;
      font-size: 1rem;
      font-weight: 600;
  }
  .flecha img{
      width: 10%;
  }
@media (max-width: 62em) {
    .container-title{
        padding: 0;
    }
}
/*
@media (max-width: 36em) {
    .resultado .mujer{
        right: 0%;
    }
    .resultado h1{
        font-size: 3rem;
    }
    .resultado p{
        font-size: 12px;
        width: 100% !important;
    }
    .resultado .btn.purple{
        width: 66% !important;
    }
}
@media (max-width: 20em) {
    .resultado h1{
        font-size: 2rem;
    }
    .resultado .sueldo p{
        font-size: 12.5px;
    }
}*/